<!--The content below is only a placeholder and can be replaced.-->
<div class="rowBackground">
  <div class="rowPlaceOverall">1</div>
  <div class="rowPlaceClass">3</div>
  <div class="rowCarNumber">99</div>
  <div class="rowTeamDriverBlock">
    <div class="rowTeamName">The Team Name</div>
    <div class="rowDriverName">Kevin Kosiorek</div>
  </div>
  <div class="rowLaps">233</div>
  <div class="rowGap">1:23:98.393</div>
  <div class="rowLeaderGap">4:10:21.309</div>
  <div class="rowPaceGap">-.435</div>
</div>
<div class="rowBackground">
  <div class="rowPlaceOverall">1</div>
  <div class="rowPlaceClass">3</div>
  <div class="rowCarNumber">99</div>
  <div class="rowTeamDriverBlock">
    <div class="rowTeamName">The Team Name</div>
    <div class="rowDriverName">Kevin Kosiorek</div>
  </div>
  <div class="rowLaps">233</div>
  <div class="rowGap">1:23:98.393</div>
  <div class="rowLeaderGap">4:10:21.309</div>
  <div class="rowPaceGap">-.435</div>
</div>
<div class="rowBackground">
  <div class="rowPlaceOverall">1</div>
  <div class="rowPlaceClass">3</div>
  <div class="rowCarNumber">99</div>
  <div class="rowTeamDriverBlock">
    <div class="rowTeamName">The Team Name</div>
    <div class="rowDriverName">Kevin Kosiorek</div>
  </div>
  <div class="rowLaps">233</div>
  <div class="rowGap">1:23:98.393</div>
  <div class="rowLeaderGap">4:10:21.309</div>
  <div class="rowPaceGap">-.435</div>
</div>
<div class="rowBackground">
  <div class="rowPlaceOverall">1</div>
  <div class="rowPlaceClass">3</div>
  <div class="rowCarNumber">99</div>
  <div class="rowTeamDriverBlock">
    <div class="rowTeamName">The Team Name</div>
    <div class="rowDriverName">Kevin Kosiorek</div>
  </div>
  <div class="rowLaps">233</div>
  <div class="rowGap">1:23:98.393</div>
  <div class="rowLeaderGap">4:10:21.309</div>
  <div class="rowPaceGap">-.435</div>
</div>

  